OSINTPRO_ADMIN_CODE="change-me"
OSINTPRO_SECRET_KEY="generate-a-long-random-secret"
OSINTPRO_STRIPE_PRO_URL="https://buy.stripe.com/..."
OSINTPRO_STRIPE_AGENCY_URL="https://buy.stripe.com/..."
OSINTPRO_STRIPE_WEBHOOK_SECRET="whsec_..."
OSINTPRO_CRON_SECRET="generate-a-long-random-secret"
OSINTPRO_MONITOR_BATCH_LIMIT="20"
OSINTPRO_API_KEY_RATE_LIMIT="30"
OSINTPRO_REGISTRATION_IP_LIMIT="3"
OSINTPRO_REGISTRATION_IP_ALLOWLIST=""
OSINTPRO_FREE_TIER_VARIANT="A"
OSINTPRO_DB_TYPE="sqlite"
OSINTPRO_DB_PATH="/var/data/osintpro.sqlite3"
OSINTPRO_BACKUP_DIR="/var/data/backups"
OSINTPRO_BACKUP_RETENTION="30"
OSINTPRO_POSTGRES_HOST=""
OSINTPRO_POSTGRES_DB="osintpro"
OSINTPRO_POSTGRES_USER=""
OSINTPRO_POSTGRES_PASSWORD=""
OSINTPRO_POSTGRES_POOL_SIZE="5"
OSINTPRO_ALERT_WEBHOOK_URL=""
OSINTPRO_SMTP_HOST=""
OSINTPRO_SMTP_PORT="587"
OSINTPRO_SMTP_USER=""
OSINTPRO_SMTP_PASSWORD=""
OSINTPRO_SMTP_FROM=""
OSINTPRO_NOTIFICATION_EMAIL_TO=""
OSINTPRO_REPORT_BRAND="OSINTPRO"
OSINTPRO_REPORT_ANALYST="OSINTPRO Analyst"
OSINTPRO_REPORT_CONTACT=""
